@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Geist+Mono:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}
body{
  background-image: url("../img/kyositu.jpg");
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: bodyfadeIn 2s ease 0s 1 normal;
  -webkit-animation: bodyfadeIn 2s ease 0s 1 normal;
  font-family: "EB Garamond", serif;
  color: #fff;
  overflow-x: hidden;
}
body::after{
  content:"";
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: -2;
  overflow: hidden;
}
.body_all{
  margin-top: 80px;
}
.highlight{
  color: #ffff45;
}
.top_icon{
  width: 300px;
  height: 30px;
}
.head{
  height: 100vh;
  max-width: 100%;
  position: relative;
  top:0px;
  left: 0px;
  margin-bottom: 200px;
}
@keyframes bodyfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes bodyfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:#fff;
  font-size: 3vw;
  white-space: nowrap;
  letter-spacing: 0.3rem;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header{
  max-width: 100%;
  height: 80px;
  position: fixed;
  right: 20px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_show{
  display: flex;
}
.header_nav{
  height: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
}
.header_nav ul{
  display: flex;
}
.header_ul{
  display: flex;
  height: 100%;
  align-items: center;
}
.header_nav ul li{
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 3.5vw;
}
.header_nav ul li a{
  height: auto;
  font-size: 1.3rem;
  text-decoration: none;
  color:#fff;
  letter-spacing: 0.3vw;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
}
.header_nav ul li a::after {
  content: ""; /* 要素に内容を追加 */
  background-color: antiquewhite; /* 下線の色 */
  bottom: -1px; /* 要素の下端からの距離 */
  height: 1px; /* 下線の高さ */
  width: 100px;
  left: 0; /* 要素の左端からの距離 */
  position: absolute; /* 絶対位置指定 */
  transform: scale(0, 1); /* 下線を横方向に0倍、縦方向に1倍に変形（非表示） */
  transform-origin: left top; /* 変形の原点を左上に指定 */
  transition: transform .3s; /* 変形をアニメーション化 */
  max-width: 100%; /* 要素の幅 */
  }
  .header_nav ul li a:hover{
    color:antiquewhite;
  }
  .header_nav ul li a:hover::after {
    transform: scale(1, 1);    /*ホバー後、x軸方向に1（相対値）伸長*/
    }

  @keyframes showTextFromBottom{
0%{
   transform: translateY( 100% );

    }
100%{
    transform: translateY( 0px );
    }
  }
.hamburger{
  width: 40px;
  height: 40px;
  color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hamburger div{
  background-color: #ffffff;
  height: 1.5px;
  width: 30px;
  margin-bottom: 8px;
}
.hamburger div:last-child{
  margin-bottom: 0px;
}

/* スクロールダウン */
.container_02 {
  margin: 0;
  padding: 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:10px;
  left: 50%;
  transform: translateX(-50%);
}

.container_02 a:hover {
  opacity: 0.7;
}

.scroll-down_02 {
  position: relative;
  width: 150px;
  height: 150px;
  color:antiquewhite;
  font-family: serif;
  text-decoration: none;
  transition: all 0.3s;
}

.circle-text_02 {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotate 20s linear infinite;

}

.circle-text_02 span {
  position: absolute;
  left: 50%;
  font-size: 0.9rem;
  transform-origin: 0 75px;
}

.arrow_02 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-left: 1px solid antiquewhite;
  border-bottom: 1px solid antiquewhite;
  transform: translate(-50%, -50%) rotate(-45deg);
  animation: pulse_02 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse_02 {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
  }
}

.textanimation span{
animation: showText 0.1s backwards;
display: inline-block;
letter-spacing: 6px;
}
.textanimation > span{
overflow: hidden;
}
.textanimation > span > span{
animation: showTextFromBottom 0.5s backwards;
}
#cursor{
  pointer-events: none;
  width:20px;
  height: 20px;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top:-16px;
  left:-16px;
  border-radius: 50%;
  transition: all 0.15s;
  background-image: url('../img/soccerball.png');
  background-size: 20px;
  opacity: 1;
  z-index: -1;
}
section{
  margin: 0 auto;
  bottom:0;
  width: 85%;
  margin-bottom: 160px;
}
.sub_title{
  font-size: 4rem;
  text-align: center;
  padding: 30px 0px 100px 0;
  color: #fff;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 5px;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.profile{
  max-width: 34%;
  text-align: center;
}
.profile_name{
  margin-bottom: 10px;
  font-size: 2vw;
  letter-spacing: 3px;
}
.birth{
  font-size: 1.2vw;
  letter-spacing: 3px;
}
.profile img{
  max-width: 70%;
  border-radius: 100%;
  margin-bottom: 10px;
}
.profile_article{
  margin: 0 auto;
  max-width: 65%;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2.7rem;
  font-weight: 450;
  padding: 15px 35px;
  background-color:rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.under{
  text-decoration: underline; 
  text-decoration-thickness: 0.3em; 
  text-decoration-color: rgba(255, 228, 0, 0.4); 
  text-underline-offset: -0.1em; 
  text-decoration-skip-ink: none; 
}

.works{
  width: 90%;
}
.card{
  padding: 20px;
  text-align: center;
  font-size: 1.1rem;
}
.card img{
  height: 220px;
  width: 340px;
  margin-bottom: 20px;
  object-fit: cover;
  transition: transform .4s ease;
  border-radius: 5px;
}
.card:hover .works_img{
  transform: scale(1.05,1.05);
}
.card:hover .works_title{
  color:antiquewhite;
}
.card a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.works_title{
  transition: color 0.4s ease;
  position: relative;
}
table{
  text-align: center;
}
.table_container{
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  flex-wrap: wrap;
  font-size: 1.1rem;
}

.table_certification {
  display: block;
  font-size: 100%;
  overflow: auto;
  width: auto;
  border-radius: 15px;
  font-weight: 450;
  padding:10px 0px;
}
 .table_certification th {
    background-color: rgb(16, 114, 179);
    color: white;
    font-weight: normal;
    padding: 10px 30px;
    text-align: center;
    font-weight: 500;
  }
 .table_certification tr td {
    background-color: rgb(227, 222, 222);
    color: rgb(36, 36, 36);
    padding: 20px 40px;
  }

  .table_skill {
  display: block;
  font-size: 100%;
  overflow: auto;
  width: auto;
  border-radius: 15px;
  font-weight: 450;
  padding:10px 0px;
}
 .table_skill th {
    background-color: rgb(16, 114, 179);
    color: white;
    font-weight: normal;
    padding: 10px 30px;
    text-align: center;
    font-weight: 500;
  }
 .table_skill tr td {
    background-color: rgb(227, 222, 222);
    color: rgb(36, 36, 36);
    padding: 10px 40px;
    margin: 0;
  }
  .table_skill td img{
  width: 52px;
}
.program_img{
  padding:0;
  margin: 0;
}
.contact{
  margin-bottom: 50px;
}
.row{
  max-width: 70%;
  height: 58%;
  margin: 0 auto;
  padding: 30px 0px;
  background-color: rgba(255,255,255,1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 25px;
  margin-top: -50px;
}
.item{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.item:not(:last-child){
  margin-bottom: 45px;
}
.indicate{
  position: absolute;
  left: 10%;
  top:25%;
  color: gray;
  pointer-events: none;
  transition: all 0.3s;
}
.item input{
  height: 40px;
  width: 80%;
  border:none;
  border-bottom: 1px solid black;
  background-color: none;
  padding-left:10px;
  outline: none;
  z-index: 2;
}
.form_msg{
  width: 80%;
  border:none;
  border-bottom: 1px solid black;
  background-color: none;
  padding-left:10px;
  outline: none;
  z-index: 2;
  padding-bottom: 2px;
}
.msg_indicate{
  position: absolute;
  left: 10%;
  top:-1%;
  pointer-events: none;
}
.plane_img{
  font-size: 20px;
  color: #000;
}
textarea{
  resize: none;
}
.submit_btn{
  display: inline-block;
  position: relative;
	margin:auto;
	padding: 12px 40px 12px 65px;
	border-radius: 0.3rem;
  border: none;
  box-shadow: 0 6px #0686b2;
	color: #fff;
  font-size: 1.2em;
  letter-spacing: 5px;
  background: rgb(149,202,252);
  background: linear-gradient(270deg, rgba(149,202,252,1) 0%, rgba(107,182,255,1) 100%);
  transition:all 1s ease-in-out;
  margin-top: -20px;
}
.submit_btn:hover{
  background: rgb(117,188,255);
  background: linear-gradient(270deg, rgba(117,188,255,1) 0%, rgba(62,159,252,1) 100%);
}
.submit_btn::before{
    content: "\f1d8";
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    left:22%;
    top:30%;
    font-size: 18px;
}
.input_submit_msg{
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
}
.focus{
  position: absolute;
  left: 10%;
  top:-45%;
  font-size:0.8rem ;
}
.focus_msg{
  position: absolute;
  left: 10%;
  top:-16%;
  font-size:0.8rem ;
}

html {
  scroll-behavior: smooth;
}
.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: rgba(255, 228, 0, 0.8);
  border: solid 1px #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: translateY(20%) rotate(-45deg);
}


.star5_rating{
	position: relative;
	z-index: 0;
	display: inline-block;
	white-space: nowrap;
	color: #CCCCCC;
}
.star5_rating:before, .star5_rating:after{
    content: '★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #acac09;
}


.star5_rating[data-rate="4"]:after{ width: 100%; }
.star5_rating[data-rate="3"]:after{ width: 75%; }
.star5_rating[data-rate="2"]:after{ width: 50%; }
.star5_rating[data-rate="1"]:after{ width: 25%; }
.star5_rating[data-rate="0"]:after{ width: 0%; }

/* メディアクエリ */
@media screen and (max-width:965px){
  body{
    overflow-x: hidden;
  }
  .header_nav ul li a{
  font-size: 1rem;
  }
  section{
    width: 92%;
  }
  .sub_title{
  font-size: 2.4rem;
  }

  .card img{
    width: 90%;
  }

  .profile_name{
    width: 100%;
  }
  .birth{
    width: 100%;
  }
  .profile{
    max-width: 29%;
  }
  .profile img{
    width: 100%;
  }
  .profile_article{
    margin-top: 50px;
    font-size: 1.1rem;
    line-height: 2.4rem;
    letter-spacing: 1px;
    max-width: 70%;
  } 
  .card{
    font-size: 0.8rem;
  }
  .row{
    margin: 0 auto;
    padding: 30px 10px;
    background-color: rgba(255,255,255,1);
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    margin-top: -50px;
    margin-bottom: 50px;
    height: auto;
    max-width: 100%;
  }
.table_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  font-size: 1rem;
}
  .table_certification {
  display: block;
  font-size: 115%;
  overflow: auto;
  width: auto;
  border-radius: 15px;
  font-weight: 450;
  margin-bottom: 50px;
}
 .table_certification th {
    background-color: rgb(16, 114, 179);
    color: white;
    font-weight: normal;
    padding: 10px 30px;
    text-align: center;
    font-weight: 500;
  }
 .table_certification tr td {
    background-color: rgb(227, 222, 222);
    color: rgb(36, 36, 36);
    padding: 15px 40px;
  }

  .table_skill {
  display: block;
  font-size: 115%;
  overflow: auto;
  width: auto;
  border-radius: 15px;
  font-weight: 450;
  margin-top: 20px;
}
 .table_skill th {
    background-color: rgb(16, 114, 179);
    color: white;
    font-weight: normal;
    padding: 10px 30px;
    text-align: center;
    font-weight: 500;
  }
 .table_skill tr td {
    background-color: rgb(227, 222, 222);
    color: rgb(36, 36, 36);
    padding: 10px 40px;
  }
  .table_skill td img{
  width: 50px;
}

  .submit_btn{
   margin-top: -25px;
   width: auto;
   font-size: 100%;
   font-size: 1rem;
  }
}

@media screen and (max-width:768px){
  header{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }
  .header_nav{
    position: absolute;
    left:20px;
  }
  .header_ul{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(210, 195, 0.5);
    backdrop-filter: blur(10px);
    width: 100vw;
  }
  .header_nav ul li a{
    font-size: 20px;
  }
  @keyframes circle {
    from{
      clip-path: circle(0%);
    }
    to{
      clip-path: circle(71%);
    }
  }
  @keyframes close-circle {
    from{
      clip-path: circle(71%);
    }
    to{
      clip-path: circle(0%);
    }
  }
  .nav_toggle_open{
    display: flex;
    animation: circle 1s forwards;
  }
  .nav_toggle_close{
    display: flex;
    animation: close-circle 1s forwards;
  }
    .header_nav ul{
    display: none;
  }
    .header_nav ul li{
    text-align: center;
  }
  .header_nav ul li a{
    font-size: 1.3rem;
  }
  .hamburger{
    position: fixed;
    top: 20px;
    right: 20px;
    display:flex;
    z-index: 10;
    transition: all 0.6s;
  }
  .top{
    transition: all 0.6s;
  }
  .middle{
    transition: all 0.4s;
  }
  .bottom{
    transition: all 0.6s;
  }
  .toggle .top{
    transition: all 0.6s;
    transform: rotate(315deg) translateY(13px);
  }
   .toggle .middle{
    opacity: 0;
  }
   .toggle .bottom{
    transition: all 0.6s;
    transform: rotate(-315deg) translateY(-13px);
  }
  .profile_name{
    font-size: 1rem;
    width: 100%;
  }
  .birth{
    font-size: 0.7rem;
    width: 100%;
  }
  .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
 }
  .profile{
    max-width:50%;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }
  .sub_title{
    font-size: 2rem;
  }
  .profile_article{
    margin-top: 50px;
    line-height: 2.5rem;
    letter-spacing: 0.5px;
    max-width: 100%;
    font-size: 2.5vw;
  }
  .pagetop {
  height: 42px;
  width: 42px;
}
}

@media screen and (max-width:500px){
  .profile_article{
    margin-top: 50px;
    line-height: 2rem;
    letter-spacing: 0.5px;
    min-width: 100%;
    font-size: 2.5vw;
  }
    .submit_msg{
    margin-top: -20px;
    width: auto;
    font-size: 100%;
  }
  .submit_btn{
    margin-top: -25px;
    font-size: 0.8rem;
  }
   .pagetop {
    right: 15px;
  height: 40px;
  width: 40px;
  }

}
  